<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Thanks for notify us about your problem!</h1>
    <p>
      We are working hard to fix it, you can check on the status here: ....<br/>
    </p>
    <p>We'll send you another email when the problem has been resolved!</p>
  </body>
</html>
